@CHARSET "UTF-8";

body,input,select,textarea,button {
	color: #333333;
	font: 13px/1.4 Helvetica, arial, freesans, clean, sans-serif;
}

a {
	text-decoration: none;
}

h1 {
	margin-top: 0;
	margin-bottom: 0;
	font-size: 16px;
	color: white;
}

label {
	font-weight: bold;
}

input {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
}

.head {
	padding: 15px 0;
}

.head-action {
	padding: 15px 0;
	float: right;
}

.my-form {
	margin: 60px auto;
	width: 400px;
}

.my-form form {
	border-radius: 4px;
}

.my-form-head {
	background-image: linear-gradient(rgb(127, 149, 165), rgb(108, 131, 147));
	padding: 10px 20px;
	border-width: 1px;
	border-style: solid;
	border-color: #6E8290 #6E8290 #586873;
	border-radius: 4px 4px 0 0;
}

.my-form-head h1 {
	font-size: 16px;
	margin-bottom: 0;
	margin-top: 0;
}

.my-form-body {
	box-sizing: border-box;
	border: 1px solid #D8DEE2;
	padding: 20px;
	border-radius: 0 0 3px 3px;
}

.input-block {
	display: block;
	width: 100%;
}

.my-form-body .input-block {
	padding: 7px 8px;
	margin-top: 5px;
	margin-bottom: 15px;
	border: 1px solid #CCCCCC;
}

.button {
	cursor: pointer;
	background-color: #EEEEEE;
	border: 1px solid #D5D5D5;
	border-radius: 3px;
	color: #333333;
	font-size: 13px;
	font-weight: bold;
	padding: 7px 12px;
	background-color: #EEEEEE;
}

label,input[type="text"],input[type="password"] {
	font-size: 13px;
	font-weight: 700;
	border-radius: 3px;
}

.primary {
	background-image: linear-gradient(#8ADD6D, #60B044);
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	border-radius: 3px;
	text-decoration: none;
	color: white;
	margin-left: 5px;
}

.search {
	border-radius: 3px;
	border: 1px solid #CCCCCC;
	padding: 5px 10px;
	width: 200px;
}

.tip {
	color: #CCCCCC
}