<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
		http://www.springframework.org/schema/context
		http://www.springframework.org/schema/context/spring-context-4.0.xsd
		http://www.springframework.org/schema/aop
		http://www.springframework.org/schema/aop/spring-aop-4.0.xsd">

	<bean id="myLog4j" class="wsyumi.log4j.MyLog4j" />
	<bean id="task" class="wsyumi.task.Task" />
	<aop:config>
		<aop:pointcut id="pointcut" expression="within(wsyumi.task.*)" />
		<aop:aspect ref="myLog4j">
			<aop:before method="standardLog" pointcut-ref="pointcut" />
		</aop:aspect>
	</aop:config>
</beans>