@CHARSET "UTF-8";
.user {
	float: right;
}
.navigation {
	float: left;
	border: 1px solid #666;
	margin: 0 200px;
	padding: 10px 10px;
	background-image: url("/img/head.png");
}

.navigation-menu {
	float: left;
	clear: right;
	margin: 0px 10px;	
	background-image: url("/img/default-head.png");
	font-size: 25px;
	border-radius: 4px;
}