@CHARSET "UTF-8";

.center-form {
	width: 400px;
	border: 1px solid #CCC;
	margin: 70px auto;
}

.form-head {
	padding: 5px 5px;
	font-size: 22px;
	background-color: olive;
	color: white;
}

.form-body {
	padding: 20px 20px;
}

.form-tips {
	margin: 10px 20px;
	color: red;
	float: right;
}

.form-input {
	width: 100%;
	margin: 5px 0;
	padding: 4px 6px;
	box-sizing: border-box;
	border: 1px solid #CCC;
	border-radius: 3px;
}

.form-button {
	font-weight: bold;
	margin: 15px 10px;
	padding: 5px 10px;
	font-size: 18px;
	letter-spacing: 6px;
	border: 0px;
	cursor: pointer;
	border-radius: 3px;
}